{% extends 'base.html' %}
{% block body %}
{% include 'topbutton.html' %}
{% include 'notifications.html' %}

<!-- SEKCJA 1 -->

<div class="bg-white">
  <div class="relative isolate overflow-hidden bg-gradient-to-b from-blue-100/20">
    <div class="mx-auto max-w-7xl pb-24 pt-10 sm:pb-32 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:px-8">
      <div class="px-6 lg:px-0 lg:pt-4">
        <div class="mx-auto max-w-2xl">
          <div class="max-w-lg">
            <img class="h-20" src="{{url_for('static', filename='assets/merito-logo.jpg')}}" alt="WSB Merito logo">
            <h1 class="mt-10 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Punkty przecięcia odcinków</h1>
            <p class="mt-6 text-lg leading-8 text-gray-600">Punkty przecięcia odcinków to wspólne punkty, w których dwa odcinki na płaszczyźnie przecinają się. Ich współrzędne można obliczyć, rozwiązując równania prostych opisujących te odcinki oraz upewniając się, że znalezione punkty leżą wewnątrz obu odcinków.
            </p>
            <div class="mt-10 flex items-center gap-x-6">
              <a href="#inputs" class="rounded-md bg-blue-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm
                hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2
                focus-visible:outline-blue-600">Sprawdź zadanie
              </a>
              <a href="https://github.com/termi95/python-math-project" target="_blank"
                class="text-sm font-semibold leading-6 text-gray-900">Zobacz na github <span aria-hidden="true">→</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-20 sm:mt-24 md:mx-auto md:max-w-2xl lg:mx-0 lg:mt-0 lg:w-screen">
        <div class="absolute inset-y-0 right-1/2 -z-10 -mr-10 w-[200%] skew-x-[-30deg] bg-white shadow-xl
          shadow-blue-600/10 ring-1 ring-blue-50 md:-mr-20 lg:-mr-36" aria-hidden="true">
        </div>
        <div class="shadow-lg md:rounded-3xl">
          <div class="bg-blue-500 [clip-path:inset(0)] md:[clip-path:inset(0_round_theme(borderRadius.3xl))]">
            <div class="absolute -inset-y-px left-1/2 -z-10 ml-10 w-[200%] skew-x-[-30deg] bg-blue-100 opacity-20
              ring-1 ring-inset ring-white md:ml-20 lg:ml-36" aria-hidden="true">
            </div>
            <div class="relative px-6 pt-8 sm:pt-16 md:pl-16 md:pr-0" data-aos="zoom-out-left" data-aos-duration="1500" data-aos-once="true">
              <div class="mx-auto max-w-2xl md:mx-0 md:max-w-none">
                <div class="w-screen overflow-hidden rounded-tl-xl bg-gray-900">
                  <div class="flex bg-gray-800/40 ring-1 ring-white/5">
                    <div class="-mb-px flex text-sm font-medium leading-6 text-gray-400">
                      <div class="border-b border-r border-b-white/20 border-r-white/10 bg-white/5 px-4 py-2 text-white">services.py</div>
                      <div class="border-r border-gray-600/10 px-4 py-2">script.js</div>
                    </div>
                  </div>
                  <div class="px-6 pb-7 pt-6 text-white relative">
                    <div class="absolute inset-0 bg-gradient-to-t from-gray-800"></div>
                    import base64<br>
                    import io<br>
                    import matplotlib<br>
                    matplotlib.use("Agg")<br>
                    import matplotlib.pyplot as plt<br>
                    from model.model import Line, Point<br>
                    import json<br><br>
                    def orientation(p: Point, q: Point, r: Point):<br>
                    &emsp;val = (q.y - p.y) * (r.x - q.x) - (q.x - p.x) * (r.y - q.y)<br><br>
                    &emsp;if val == 0:<br>
                    &emsp;&emsp;return 0<br>
                    &emsp;return 1 if val > 0 else 2<br><br>
                    def on_segment(p: Point, q: Point, r: Point):<br>
                    &emsp;return (<br>
                    &emsp;&emsp; q.x <= max(p.x, r.x)<br>
                    &emsp;&emsp; and q.x >= min(p.x, r.x)<br>
                    &emsp;&emsp;and q.y <= max(p.y, r.y)<br>
                    &emsp;&emsp;and q.y >= min(p.y, r.y)<br>
                    )
                  </div>
                </div>
              </div>
              <div class="pointer-events-none absolute inset-0 ring-1 ring-inset ring-black/10 md:rounded-3xl" aria-hidden="true"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="absolute inset-x-0 bottom-0 -z-10 h-24 bg-gradient-to-t from-white sm:h-32"></div>
  </div>
</div>

<!-- SEKCJA 2 -->

<div id="inputs" class="flow-root max-w-4xl mx-auto px-6">
  <ul role="list" class="-mb-8">
    <li data-aos="fade-up" data-aos-once="true">
      <div class="relative pb-8">
        <span class="absolute left-4 top-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
        <div class="relative flex space-x-3">
          <div>
            <span class="h-8 w-8 rounded-full bg-blue-500 flex items-center justify-center ring-8 ring-white">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="m6.75 7.5 3 2.25-3 2.25m4.5 0h3m-9 8.25h13.5A2.25 2.25 0 0 0 21 18V6a2.25 2.25 0 0 0-2.25-2.25H5.25A2.25 2.25 0 0 0 3 6v12a2.25 2.25 0 0 0 2.25 2.25Z" />
              </svg>
            </span>
          </div>
          <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
            <div>
              <p class="text-sm text-gray-500">Wpisanie współrzędnych <strong>pierwszej</strong> linii</p>
            </div>
            <div class="whitespace-nowrap text-right text-sm text-gray-500">
              <p>Krok 1</p>
            </div>
          </div>
        </div>
        <div class="px-10 grid grid-cols-2 gap-x-10 gap-y-4 mx-10 my-4">
          <div class="isolate -space-y-px rounded-md shadow-sm">
            <div class="relative rounded-md rounded-b-none px-3 pb-1.5 pt-2.5 ring-1 ring-inset ring-gray-300
              focus-within:z-10 focus-within:ring-2 focus-within:ring-sky-600">
              <label for="FirstStartX" class="block text-xs font-medium text-gray-900">Start X</label>
              <input type="number" name="FirstStartX" id="FirstStartX" class="block w-full border-0 p-0 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6"
                placeholder="1">
            </div>
            <div class="relative rounded-md rounded-t-none px-3 pb-1.5 pt-2.5 ring-1 ring-inset ring-gray-300
              focus-within:z-10 focus-within:ring-2 focus-within:ring-sky-600">
              <label for="FirstStartY" class="block text-xs font-medium text-gray-900">Start Y</label>
              <input type="number" name="FirstStartY" id="FirstStartY" class="block w-full border-0 p-0 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6"
                placeholder="1">
            </div>
          </div>
          <div class="isolate -space-y-px rounded-md shadow-sm">
            <div class="relative rounded-md rounded-b-none px-3 pb-1.5 pt-2.5 ring-1 ring-inset ring-gray-300
              focus-within:z-10 focus-within:ring-2 focus-within:ring-sky-600">
              <label for="FirstEndX" class="block text-xs font-medium text-gray-900">Enx X</label>
              <input type="number" name="FirstEndX" id="FirstEndX" class="block w-full border-0 p-0 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6"
                placeholder="5">
            </div>
            <div class="relative rounded-md rounded-t-none px-3 pb-1.5 pt-2.5 ring-1 ring-inset ring-gray-300
              focus-within:z-10 focus-within:ring-2 focus-within:ring-sky-600">
              <label for="FirstEndY" class="block text-xs font-medium text-gray-900">End Y</label>
              <input type="number" name="FirstEndY" id="FirstEndY" class="block w-full border-0 p-0 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6"
                placeholder="20">
            </div>
          </div>
        </div>
      </div>
    </li>
    <li data-aos="fade-up" data-aos-once="true">
      <div class="relative pb-8">
        <span class="absolute left-4 top-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
        <div class="relative flex space-x-3">
          <div>
            <span class="h-8 w-8 rounded-full bg-blue-500 flex items-center justify-center ring-8 ring-white">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="m6.75 7.5 3 2.25-3 2.25m4.5 0h3m-9 8.25h13.5A2.25 2.25 0 0 0 21 18V6a2.25 2.25 0 0 0-2.25-2.25H5.25A2.25 2.25 0 0 0 3 6v12a2.25 2.25 0 0 0 2.25 2.25Z" />
              </svg>
            </span>
          </div>
          <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
            <div>
              <p class="text-sm text-gray-500">Wpisanie współrzędnych <strong>drugiej</strong> linii</p>
            </div>
            <div class="whitespace-nowrap text-right text-sm text-gray-500">
              <p>Krok 2</p>
            </div>
          </div>
        </div>
        <div class="px-10 grid grid-cols-2 gap-x-10 gap-y-4 mx-10 my-4">
          <div class="isolate -space-y-px rounded-md shadow-sm">
            <div class="relative rounded-md rounded-b-none px-3 pb-1.5 pt-2.5 ring-1 ring-inset ring-gray-300
              focus-within:z-10 focus-within:ring-2 focus-within:ring-sky-600">
              <label for="SecondStartX" class="block text-xs font-medium text-gray-900">Start X</label>
              <input type="number" name="SecondStartX" id="SecondStartX" class="block w-full border-0 p-0 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6"
                placeholder="3">
            </div>
            <div class="relative rounded-md rounded-t-none px-3 pb-1.5 pt-2.5 ring-1 ring-inset ring-gray-300
              focus-within:z-10 focus-within:ring-2 focus-within:ring-sky-600">
              <label for="SecondStartY" class="block text-xs font-medium text-gray-900">Start Y</label>
              <input type="number" name="SecondStartY" id="SecondStartY" class="block w-full border-0 p-0 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6"
                placeholder="15">
            </div>
          </div>
          <div class="isolate -space-y-px rounded-md shadow-sm">
            <div class="relative rounded-md rounded-b-none px-3 pb-1.5 pt-2.5 ring-1 ring-inset ring-gray-300
              focus-within:z-10 focus-within:ring-2 focus-within:ring-sky-600">
              <label for="SecondEndX" class="block text-xs font-medium text-gray-900">End X</label>
              <input type="number" name="SecondEndX" id="SecondEndX" class="block w-full border-0 p-0 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6"
                placeholder="10">
            </div>
            <div class="relative rounded-md rounded-t-none px-3 pb-1.5 pt-2.5 ring-1 ring-inset ring-gray-300
              focus-within:z-10 focus-within:ring-2 focus-within:ring-sky-600">
              <label for="SecondEndY" class="block text-xs font-medium text-gray-900">End Y</label>
              <input type="number" name="SecondEndY" id="SecondEndY" class="block w-full border-0 p-0 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6"
                placeholder="2">
            </div>
          </div>
        </div>
      </div>
    </li>
    <li data-aos="fade-up" data-aos-once="true">
      <div class="relative pb-8">
        
        <div class="relative flex space-x-3">
          <div>
            <span class="h-8 w-8 rounded-full bg-green-500 flex items-center justify-center ring-8 ring-white">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
              </svg>
            </span>
          </div>
          <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
            <div>
              <p class="text-sm text-gray-500"><strong>Zatwierdź</strong> wpisane dane</p>
            </div>
            <div class="whitespace-nowrap text-right text-sm text-gray-500">
              <p>Krok 3</p>
            </div>
          </div>
        </div>
        <div class="px-10 grid grid-cols-1 gap-x-10 gap-y-4 mx-10 my-4">
          <button onclick="submit()" class="rounded-md bg-blue-600 px-3.5 py-2.5 text-sm font-semibold text-white
            shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2
            focus-visible:outline-blue-600">Narysuj wykres &emsp;&darr;
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>

<!-- SEKCJA 3 -->

<div id="lastSection" class="max-w-screen-2xl mx-auto w-11/12 my-20 hidden">
  <div class="flex lg:flex-row lg:justify-around flex-col gap-5">
    <!-- Left side -->
    <div class="shadow-xl lg:sticky lg:top-[30vh] flex mx-auto relative w-fit h-fit">
      <img name="chart" src="" alt="chart" class="pointer-events-none shadow-md hover:cursor-none max-h-[85vh] object-contain hidden">
    </div>

    <!-- Right side -->
    <div class="lg:w-1/2 px-2 flex flex-col justify-center items-center my-20">
      <div class="mx-auto mt-14 max-w-2xl sm:mt-16 lg:col-span-3 lg:row-span-2 lg:row-end-2 lg:mt-0 lg:max-w-none">
        <div class="flex flex-col">
          <div class="mt-4">
            <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">Analiza danych</h1>
            <p class="mt-2 text-sm text-gray-500">Punkt przecięcia wykresu</p>
          </div>
        </div>

        <div class="mt-10 border-t border-gray-200 pt-10">
          <h3 class="text-md font-medium text-gray-900">Współrzędne odcinków</h3>
          <div class="prose prose-sm mt-4 text-gray-500">
            <ul role="list">
              <li id="firstline">Odcinek pierwszy: </li>
              <li id="secondline">Odcinek drugi: </li>
            </ul>
          </div>
        </div>
        
        <div class="mt-10 border-t border-gray-200 pt-10">
          <h3 class="text-md font-medium text-gray-900">Czy występuje przecięcie odcinków</h3>
          <div class="prose prose-sm mt-4 text-gray-500">
            <ul role="list">
              <li id="isIntersect"></li>
            </ul>
          </div>
        </div>
        
        <div class="mt-10 border-t border-gray-200 pt-10">
          <h3 class="text-md font-medium text-gray-900">Przecięcie odcinków</h3>
          <div class="prose prose-sm mt-4 text-gray-500">
            <ul role="list">
              <li>Przecięcię odcików występuje na współrzędnych:</li>
              <li id="intersection_point" class="text-center font-semibold my-2"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="bg-white">
  <div class="mx-auto max-w-7xl overflow-hidden px-6 py-20 sm:py-24 lg:px-8">
    <p class="mt-10 text-center text-xs leading-5 text-gray-500">Michał Krzysteczko | Adnrzej Sokołowski | Adrian Adamus</p>
  </div>
</footer>

<!-- Script -->

<script>
  async function submit() {
    const FirstStartX = document.getElementsByName('FirstStartX')[0].value
    const FirstStartY = document.getElementsByName('FirstStartY')[0].value
    const FirstEndX = document.getElementsByName('FirstEndX')[0].value
    const FirstEndY = document.getElementsByName('FirstEndY')[0].value

    const SecondStartX = document.getElementsByName('SecondStartX')[0].value
    const SecondStartY = document.getElementsByName('SecondStartY')[0].value
    const SecondEndX = document.getElementsByName('SecondEndX')[0].value
    const SecondEndY = document.getElementsByName('SecondEndY')[0].value

    if (!validateInputs(FirstStartX, FirstStartY, FirstEndX, FirstEndY, SecondStartX, SecondStartY, SecondEndX, SecondEndY)) {
      showError("Wszystkie pola muszą być wypełnione prawidłowo!");
      return;
    }

    const response = await fetch("{{base_url}}/get-chart", {
    method: 'POST',
    headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
    },
    body: JSON.stringify({
      "lines": [
        {
          "start": {"x": FirstStartX , "y": FirstStartY},
          "end": {"x": FirstEndX, "y": FirstEndY}
        },
        {
          "start": {"x": SecondStartX, "y": SecondStartY},
          "end": {"x": SecondEndX, "y": SecondEndY}
        }
      ]
    })
})
  .then(response => response.json())

  const chart = document.getElementsByName('chart')[0]
  chart.src = `data:image/png;base64, ${response['chart']}`
  
  chart.classList.remove('hidden');
  document.getElementById("lastSection").classList.remove('hidden')
  
  // czy istnieje jest przecięcie punktu
  const isIntersect = response.isIntersect
  document.getElementById("isIntersect").innerHTML = isIntersect ? "tak" : "nie";

  // koordynaty przecięcia
  if(isIntersect) {
    if(response.intersection_point){
      const intersect = response.intersection_point
      const intersectFormatted = `x:${Math.round(intersect.x * 100)/100}, y:${Math.round(intersect.y *100)/100}`;
      document.getElementById("intersection_point").innerHTML = intersectFormatted;
    }
    else if(response.intersection_line){
      const line = response.intersection_line
      const lineFormatted = `start x:${Math.round(line.start.x * 100)/100},  start y:${Math.round(line.start.y *100)/100} <br>
                                        end x:${Math.round(line.end.x * 100)/100},  end y:${Math.round(line.end.y *100)/100}`;
      document.getElementById("intersection_point").innerHTML = lineFormatted;
    }
  } else {
    document.getElementById("intersection_point").innerHTML = "Nie istnieje";
  }

  // koordynaty pierwszej linii
  const firstline = response.line1;
  const firstlineFormatted = `<p class="text-center font-semibold my-2">start x:${firstline.start.x} y:${firstline.start.y}, end x:${firstline.end.x} y:${firstline.end.y}</p>`;
  document.getElementById("firstline").innerHTML = `Odcinek pierwszy: ${firstlineFormatted}`;

  // koordynaty drugiej linii
  const secondline = response.line2;
  const secondlineFormatted = `<p class="text-center font-semibold my-2">start x:${secondline.start.x} y:${secondline.start.y}, end x:${secondline.end.x} y:${secondline.end.y}</p>`;
  document.getElementById("secondline").innerHTML = `Odcinek drugi: ${secondlineFormatted}`;
}

function validateInputs(...inputs) {
  return inputs.every(input => input.trim() !== '');
}

function showError(errorMessage) {
    const notificationElement = document.getElementById("notification");
    const notificationMessageElement = document.getElementById("notification-message");

    notificationMessageElement.innerHTML = errorMessage;
    notificationElement.classList.remove('hidden');

    notificationElement.addEventListener('animationend', () => {
      notificationElement.classList.add('hidden');
      });
  }
</script>
{% endblock%}
